@page
@model ServerSideConnect4.Pages.Game.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>GameData</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GameData.PlayerID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GameData.PlayerID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GameData.PlayerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GameData.PlayerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GameData.BeginningGameDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GameData.BeginningGameDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GameData.TimeDurationGame)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GameData.TimeDurationGame)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GameData.isPlayerWin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GameData.isPlayerWin)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="GameData.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
