@page
@model ServerSideConnect4.Pages.Game.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GameData[0].PlayerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameData[0].PlayerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameData[0].BeginningGameDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameData[0].TimeDurationGame)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameData[0].isPlayerWin)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.GameData) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeginningGameDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeDurationGame)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isPlayerWin)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
